body {
display:flex;
color: #fb3640;
        background-image: url("images/bgg.jpg");
    }

 h3
  {position: absolute;
  display: ;
  z-index:999;
  left:0;
  right:0;
  top:40%;
  text-align: center;
  width: 60%;
font-family: 'Zen Dots', cursive;
text-transform: uppercase;
color: #542e71;
}


h3 {
    animation-name: text;
    animation-timing-function:ease-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes text {

    0% { transform: translateX(500px); }
    50% { transform: translateX(1px); }
    100% { transform: translateX(0); }

  }
    .stage {
        border-bottom: 3px solid #fb3640;
        display: flex;
        height: 500px;
        width: 800px;
    }
    .box {
        align-self: flex-end;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        background-image: url("images/testbg.png");
        height: 400px;
        margin: 2px auto 2px auto;
        transform-origin: bottom;
        width: 740px;
}
    .Booboo {
        animation-name: Booboo;
        animation-timing-function:ease-in-out;
    }
    @keyframes Booboo {

        0% { transform: translateX(0px); }
        50% { transform: translateX(-500px); }
        100% { transform: translateX(0); }
    }

    .text{position: absolute;
    display: ;
    z-index:999;
    left:0;
    right:0;
    top:40%;
    text-align: center;
    width: 60%;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fb3640;

  }

   a:hover{
  background:none ; color: gold;}
